{% from 'auths/form_helper.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Schedule Page {% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Schedule</h2>
        <p>List of schedule has been added:</p>
      </div>
      <div class="col-sm col align-self-end" ></div>
    </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Movie Name</th>
        <th>Studio Name</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {% for x in schedule %}
      <tr>
        <td>{{ x[0].id }}</td>
        <td>{{ x[1].movie_title }}</td>
        <td>{{ x[2].studio_name }}</td>
        <td>{{ x[0].schedule_date }}</td>
        <td>{{ x[0].schedule_time }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
