{% from 'auths/form_helper.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Select Schedule {% endblock %}
{% block content %}
<div class="container-fluid" style="width: 70%">
	<h2>Select Schedule Form</h2>
	<p>Buy ticket for movie: {{ movies.movie_title }}</p>
	<form name="form_sschedule" method="POST" action="/select_schedule/">
		<div style="padding-bottom: 10px;">
		{% for x in schedule %}
			<div class="card">
			  <div class="card-body" style="padding-left: 30px;">
				<input class="form-check-input" type="radio" name="ticket_schedule" value="{{ x[0].id }}" id="inlineRadio{{x}}">
				<label class="form-check-label" for="inlineRadio{{x}}">{{x[0].schedule_date}} - {{x[0].schedule_time.strftime('%H:%M %p') }}</label>
			  </div>
			</div>
		{% endfor %}

	    <div>{{ form.submit_button }}</div>
	    {{ form.csrf_token }}
	</form>
</div>
<script src="{{ url_for('static', filename='/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/jquery-1.9.1.js') }}"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
    var form = $('form[name="form_sschedule"]'),
        radio = $('input[name="ticket_schedule"]'),
        choice = '';

    radio.change(function(e) {
        choice = this.value;
		form.attr('action', '/select_schedule/'+choice);
    });
});
</script>

{% endblock %}