{% from 'auths/form_helper.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Seat Select {% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='/css/custom.css') }}">
<div class="container-fluid" align="center">
    
    <form method="POST" accept="/select_seat/{{ schedule[0][0].id }}">
    {% set column = 8 %}
    {% set row = 8 %}
    <table border="0" class="table_seat">
      <tr>
        <td colspan="9">
            <div align="left">
                Movie: {{ schedule[0][1].movie_title }}<br>
                Schedule: {{ schedule[0][0].schedule_date }} - {{ schedule[0][0].schedule_time.strftime('%H:%M %p') }}
            </div>
            <br><div class="screen">SCREEN</div></td>
        <td rowspan="11" valign="bottom" style="padding-left: 10px">
          <div class="smallBox greenBox" style="text-align: left;">Used Seat</div> <br/>
          <div class="smallBox yellowBox" style="text-align: left;">Booked Seat</div><br/>
          <div class="smallBox emptyBox" style="text-align: left;">Empty Seat</div><br/>
        </td>
        
        <br/>
      </tr>
      <tr class="seatVGap"></tr>
      <tr>
        {% for x in range(column) %}
            {% if x == 0 %}
                <td></td>
            {% else %}
                {% if x == 3 %}
                    <td><span style="text-align: center;">{{x}}</span></td>
                    <td></td>
                {% else %}
                    <td><span style="text-align: center;">{{x}}</span></td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
    {% set char = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
    {% for x in range(row) %}
    <tr>
        {% for y in range(column) %}
            {% if y == 0 %}
                <td>{{ char[x] }}</td>
            {% else %}

                {% if y == 3 %}
                    <td>
                        {% set ns_seat = namespace(count = 0|int) %}
                        {% set ns_seat_booked = namespace(count = 0|int) %}
                        {% for z in ticket %}
                            {% if z.ticket_seat_number == char[x]+y|string %}
                                <label class="container_cb"><input type="checkbox" name="seats" value="{{char[x]+y|string}}"><span class="checkmark_used">{{char[x]+y|string}}</span></label>
                                {% set ns_seat.count = ns_seat.count + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if ns_seat.count == 0 %}
                            {% for zz in bticket_list %}
                                {% if zz == char[x]+y|string %}
                                    <label class="container_cb"><input type="checkbox" name="seats" value="{{char[x]+y|string}}"><span class="checkmark_booked">{{char[x]+y|string}}</span></label>
                                    {% set ns_seat_booked.count = ns_seat_booked.count + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if ns_seat_booked.count == 0 %}
                                <label class="container_cb"><input type="checkbox" name="seats" value="{{char[x]+y|string}}"><span class="checkmark">{{char[x]+y|string}}</span></label>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td><span class="seats"></span></td>
                {% else %}
                    <td>
                        {% set ns_seat = namespace(count = 0|int) %}
                        {% set ns_seat_booked = namespace(count = 0|int) %}
                        {% for z in ticket %}
                            {% if z.ticket_seat_number == char[x]+y|string %}
                                <label class="container_cb"><input type="checkbox" name="seats" value="{{char[x]+y|string}}"><span class="checkmark_used">{{char[x]+y|string}}</span></label>
                                {% set ns_seat.count = ns_seat.count + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if ns_seat.count == 0 %}
                            {% for zz in bticket_list %}
                                {% if zz == char[x]+y|string %}
                                    <label class="container_cb"><input type="checkbox" name="seats" value="{{char[x]+y|string}}"><span class="checkmark_booked">{{char[x]+y|string}}</span></label>
                                    {% set ns_seat_booked.count = ns_seat_booked.count + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if ns_seat_booked.count == 0 %}
                                <label class="container_cb"><input type="checkbox" name="seats" value="{{char[x]+y|string}}"><span class="checkmark">{{char[x]+y|string}}</span></label>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
    <br/>
    <div>{{ form.submit_button(onclick="return confirm('Are you sure?')") }}</div>
    {{ form.csrf_token }}
    </form>














</div>



{% endblock %}