{% from 'auths/form_helper.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Ticket Page {% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Ticket</h2>
        <p>List of Ticket has been selled:</p>
      </div>
      <div class="col-sm col align-self-end" >
        <!-- <div class="text-right"><a href="/add_studio" class="btn btn-primary">Add Studio</a> -->
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>User</th>
        <th>Movie</th>
        <th>Schedule</th>
        <th>Time</th>
        <th>Studio</th>
        <th>Seat Number</th>
        <th>Payment</th>
        <th>Status</th>
        <th>Added</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for x in ticket %}
      <tr>
        <td>{{ x[0].id }}</td>
        <td>{{ x[0].ticket_code }}</td>
        <td>{{ x[1].username }}</td>
        <td>{{ x[3].movie_title }}</td>
        <td>{{ x[2].schedule_date }}</td>
        <td>{{ x[2].schedule_time }}</td>
        <td>{{ x[4].studio_name }}</td>
        <td>{{ x[0].ticket_seat_number }}</td>
        <td>{{ x[0].ticket_payment }}</td>
        <td>{{ x[0].ticket_status }}</td>
        <td>{{ x[0].ticket_added.strftime('%Y-%m-%d\n%H:%M %p') }}</td>
        <td><a href="#">Edit</a> | <a href="#" onclick="return confirm('Are you sure to Delete Studio &quot;#&quot; ?')">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
