{% from 'auths/form_helper.html' import displayField %}
{% extends 'admin/admin_base.html' %}
{% block title %}Add Studio{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="container-fluid">

    <h2>Add Studio Form</h2>
    <form method="POST" action="{{url_for('admin_studio.add_studio')}}">
        <div class="form-row">
            <div class="col">
                {{ form.studio_name.label }} *
                {{ displayField(form.studio_name, 'Studio Name', autocomplete='off', autofocus=true) }}
            </div>
            <div class="col">
                {{ form.studio_capacity.label }} *
                {{ displayField(form.studio_capacity, 'Studio Capacity', autocomplete='off', autofocus=true, type='number') }}
            </div>
        </div>
        <div>
            {{ form.studio_description.label }} *
            <textarea class='form-control' id="summernote" name="studio_description"></textarea>
        </div>

        <div>{{ form.submit_button }}</div>
        {{ form.csrf_token }}
    </form>
    
</div>
{% endblock %}
