{% from 'auths/form_helper.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Add Movie {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container-fluid">

    <h2>Add Schedule Form</h2>
    <form method="POST" action="/add_schedule">
        <p>
        <div class="form-row">
            <div class="col">
                {{ form.schedule_movie_id.label }} *<br/>
                <select class="form-control" name="schedule_movie_id">
                    <option>Select...</option>
                {% for x in movies %}
                    {% if x.movie_onshow == True%}
                    <option value="{{ x.id }}">{{ x.movie_title }} ({{ x.movie_added.strftime('%Y') }})</option>
                    }
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            <div class="col">
                {{ form.schedule_studio_id.label }} *<br/>
                <select class="form-control"  name="schedule_studio_id">
                    <option>Select...</option>
                {% for x in studio  %}
                    <option value="{{ x.id }}">{{ x.studio_name }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        </p>
        <div class="form-row">
            <div class="col">
                {{ form.schedule_date.label }} *
                {{ displayField(form.schedule_date, 'Start Date', autocomplete='off', autofocus=true) }}
            </div>
            <div class="col">
                {{ form.schedule_time.label }} *
                {{ displayField(form.schedule_time, 'Time', autocomplete='off', autofocus=true, type='time', value='00:00') }}
            </div>
        </div>

        <div>{{ form.submit_button }}</div>
        {{ form.csrf_token }}
    </form>
    
</div>
{% endblock %}
