{% from 'auths/form_helper.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Schedule Page {% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Schedule</h2>
        <p>List of schedule has been added:</p>
      </div>
      <div class="col-sm col align-self-end" >
        <div class="text-right"><a href="/add_schedule" class="btn btn-primary">Add Schedule</a>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Movie Name</th>
        <th>Studio Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for x in schedule %}
      <tr>
        <td>{{ x[0].id }}</td>
        <td>{{ x[1].movie_title }}</td>
        <td>{{ x[2].studio_name }}</td>
        <td>{{ x[0].schedule_start_date }}</td>
        <td>{{ x[0].schedule_end_date }}</td>
        <td>{{ x[0].schedule_time }}</td>
        <td><a href="edit_schedule/{{ x[0].id }}">Edit</a> | <a href="delete_schedule/{{ x[0].id }}" onclick="return confirm('Are you sure to Delete Schedule &quot;{{ x[0].id }}&quot; ?')">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
