{% from 'auths/form_helper.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Detile - {{ movies.movie_title }} ({{movies.movie_added.strftime('%Y')}}){% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>{{ movies.movie_title }} ({{movies.movie_added.strftime('%Y')}})</h2>
            </div>
            <div class="col-sm col align-self-end" >
                <div class="text-right"><a href="#" class="btn btn-secondary">Add to Wishlist</a></div>
            </div>
        </div>

        <div class="clearfix">
            <div class="row" >
                <div class="col-3">
                    <img src="/{{ movies.movie_img_url }}" class="float-left mr-3" style="width: 280px">
                    <div style="text-align: center;">
                        {% if movies.movie_onshow == True %}
                        <table><tr><td></td></tr></table>
                        <a href="/buy_ticket/{{ movies.id }}" class="btn btn-success btn-block btn-lg btn-block">Buy Ticket</a>
                        <!-- <a href="#" class="btn btn-warning btn-block btn-block" >Watch Triler</a> -->
                        {% endif %}
                    </div>
                </div>

                <div class="col-8">
                    <table class="table">
                        <tr>
                            <th>{{ form.movie_title.label }}</th>
                            <td>{{ movies.movie_title }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.movie_duration.label }}</th>
                            <td>{{ db_duration }}</td>
                        </tr>
                        <tr>
                            <th>On Show?</th>
                            {% if movies.movie_onshow %}
                             <td>Yes</td>
                            {% else %}
                            <td>No</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Relase Date</th>
                            <td>{{ db_date_release[0] }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.movie_description.label }}</th>
                            <td>{{ movies.movie_description|safe }}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}