{% from 'auths/form_helper.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Home Page {% endblock %}
{% block content %}

<div class="container-fluid">
  <!-- konten -->
  <div class="row" style="padding-top: 10px;">
    {% for x in movies  %}
      {% if x.movie_onshow == True %}
      <div class="card" style="max-width: 14rem; padding-left: 10px; padding-bottom: 10px">
        <img class="card-img-top" src="{{ x.movie_img_url }}" style="height: 300px;" alt="Card image">
        <div class="card-body" style="height: 120px;">
          <h6 class="card-title" style="text-align: center;">{{ x.movie_title }} ({{ x.movie_released.strftime('%Y') }})</h6>
          <!--<p class="card-text">Some example text.</p>-->
          <!--<div class="text-center"><a href="detile/{{ x.id }}" class="btn btn-primary">more detile</a></div>-->
          <div class="text-center"><a href="select_schedule/{{ x.id }}" class="btn btn-success">Buy Ticket</a> <a href="detile/{{ x.id }}" class="btn btn-primary">detile</a></div>
        </div>
      </div>
      {% endif %}
    {% endfor%}
  </div>  

</div>


{% endblock %}
