{% from 'auths/form_helper.html' import displayField %}
{% extends 'admin/admin_base.html' %}
{% block title %}Movies Page {% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Movies</h2>
        <p>List of movies has been added:</p>
      </div>
      <div class="col-sm col align-self-end" >
        <div class="text-right"><a href="{{url_for('admin_movies.add_movies')}}" class="btn btn-primary">Add Movie</a>
      </div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Add/Edited</th>
        <th>Who Added</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for x in movies.items  %}
      <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.movie_title }} ({{x.movie_added.strftime('%Y')}})</td>
        <td>
          {{ x.movie_added.strftime('%Y-%m-%d') }}<br>{% if x.movie_edited != None %}{{ x.movie_edited.strftime('%Y-%m-%d') }} {% else %}Never Edited{% endif %}
        </td>
        <td>Admin</td>
        <td><a href="detile/{{ x.id }}">Detile</a> | <a href="edit_movies/{{ x.id }}">Edit</a> | <a href="/delete_movies/{{ x.id }}" onclick="return confirm('Are you sure to Delete movie &quot;{{ x.movie_title }}&quot; ?')">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- pagenination link -->
  <div>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-end">
        <li class="page-item">
          <a href="{{ url_for('admin_movies.movies', page=1) }}"
          {% if movies.page==1 %} disabled {% endif %}><span class="page-link">First</span>
          </a>
        </li>
        <li class="page-item">
          <a href="{{ url_for('admin_movies.movies', page=movies.prev_num) }}"
          {% if movies.page==1 %} disabled {% endif %}><span class="page-link">Previous</span>
          </a>
        </li>
    <!-- loop pange number -->
    {% for page_num in movies.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

    {% if page_num %}
    <!-- check the active page and set link to active-->
      {% if movies.page == page_num %}
        <li class="page-link"><a href="{{ url_for('admin_movies.movies', page=page_num) }}" class="page-item">{{ page_num }}</a></li>
      {% else %}
        <li class="page-link"><a href="{{ url_for('admin_movies.movies', page=page_num) }}" class="page-item">{{ page_num }}</a></li>
      {% endif %}
    {% else %}
      ...
    {% endif%}
    {% endfor %}
      <li class="page-item">
        <a href="{{ url_for('admin_movies.movies', page=movies.next_num) }}"
        {% if movies.page == movies.pages %} disabled {% endif %}><span class="page-link">Next</span></a>
      </li>
      <li class="page-item">
        <a href="{{ url_for('admin_movies.movies', page=movies.pages) }}"
        {% if movies.page == movies.pages %} disabled {% endif %}><span class="page-link">End</span></a>
      </li>
    </ul>
    <p class="text-right">Showing Page {{ movies.page }} of {{ movies.pages }}</p>
    </nav> 
  </div>

</div>
{% endblock %}
