{% from 'auths/form_helper.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Add Movie {% endblock %}
{% block content %}
<h2>Add Movie Form</h2>
<form method="POST" enctype="multipart/form-data" action="/#">
    <div>
        {{ form.movie_title.label }}
        {{ displayField(form.movie_title, ' Movie Title', autocomplete='off', autofocus=true) }}
    </div>
    <div>
        {{ form.movie_poster.label }}
        {{ displayField(form.movie_poster, ' Movie Title', autocomplete='off', autofocus=true) }}
    </div>
    <div>
        {{ form.movie_duration.label }}
        {{ displayField(form.movie_duration, 'Movie Duration', autocomplete='off', autofocus=true) }}
    </div>
    <div>
        {{ form.movie_description.label }}
        {{ displayField(form.movie_description, 'Description', autocomplete='off', autofocus=true) }}
    </div>
    <div>
        {{ form.movie_on_show.label }}
        {{ displayField(form.movie_on_show, 'Is Movie on Show?', autocomplete='off', autofocus=true) }}
    </div>
    <div>
        {{ form.movie_on_show.label }}
        {{ displayField(form.movie_upcoming, 'Is Movie Upcoming?', autocomplete='off', autofocus=true) }}
    </div>
    <div>
        {{ form.movie_released.label }}
        {{ displayField(form.movie_released, 'Released Date', autocomplete='off', autofocus=true) }}
    </div>
    <div>{{ form.submit_button }}</div>
    {{ form.csrf_token }}
</form>
{% endblock %}