{% from 'auths/form_helper.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Detile {% endblock %}
{% block content %}
<div class="text-right"><a href="/edit_movies/{{ movies.id }}" class="btn btn-secondary">Edit Movie</a>
<a href="/delete_movies/{{ movies.id }}" class="btn btn-danger">Delete Movie</a></div>
<h2>{{ movies.movie_title }}</h2>
<div class="clearfix">
    <img src="/{{ movies.movie_img_url }}" style="width: 260px;" class="float-left mr-3">
    <table class="table" style="width: 70%;">
        <tr>
            <th>{{ form.movie_title.label }}</th>
            <td>{{ movies.movie_title }}</td>
        </tr>
        <tr>
            <th>{{ form.movie_duration.label }}</th>
            <td>{{ db_duration }}</td>
        </tr>
        <tr>
            <th>On Show?</th>
            {% if movies.movie_onshow %}
             <td>Yes</td>
            {% else %}
            <td>No</td>
            {% endif %}
        </tr>
        <tr>
            <th>Relase Date</th>
            <td>{{ db_date_release[0] }}</td>
        </tr>
        <tr>
            <th>{{ form.movie_description.label }}</th>
            <td>{{ movies.movie_description|safe }}</td>
        </tr>

    </table>
  </div>
{% endblock %}