{% from 'auths/form_helper.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Home Page {% endblock %}
{% block content %}
<h2>Home Page</h2>
<h1>Movie on Show</h1>
<div class="card-columns">
    {% for x in movies  %}
    <div class="card" style="width:200px">
        <img class="card-img-top" src="{{ x.movie_img_url }}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title" style="text-align: center;">{{ x.movie_title }}</h4>
          <!--<p class="card-text">Some example text.</p>-->
          <a href="#" class="btn btn-primary">more</a>
        </div>
      </div>
    {% endfor%}
</div>
{% endblock %}